@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Ruda:wght@600&display=swap');

body{
    background-color: black;
    margin: 0em;
}
.navbar{
    background-color: white;
    font-family: "Ruda", serif;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 30px;
    margin: 2em;
    color: #232323;
    text-decoration: none; /* to remove underlines at the hyperlinks */
}
li{
    list-style: none;
    display: inline-block;
}
li a:hover{
    background-color: #cecece;
}
li a{
    font-size: 18px;
    margin-right: 25px;
    color: #232323;
    text-decoration: none; /* to remove underlines at the hyperlinks */
}
.about{
    text-align: center;
    margin-top: 15em;
    font-family: "Ruda", serif;
    font-size: 20px;
    color: white;

}
.about_back{
    border-radius: 50px;
}