@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Ruda:wght@600&display=swap');

body{
    background-color: black;
}
h1{
    color: white;
    text-align: left;
    margin: 20px;
    font-family: "Lilita One", serif;
    font-size: 80px;
    font-weight: 5;
    font-style: normal;
}
.navbar ul{
    list-style-type: none; /* to remove points/dots beside the hyperlinks */
    padding: 0px;
    margin: 20px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none; /* to remove underlines at the hyperlinks */
    padding: 10px;
    font-family: "Lilita One", serif;
    font-weight: 500;
    font-style: normal;
}
.navbar li{
    float:right;
    
}