@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Ruda:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Lilita+One&family=Ruda:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.homebod{
    background-color: white;
    margin: 0em;
}
.navbar{
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    margin: 1em;
    color: #232323;
    font-family: "Anton", serif;
    font-size: 40px;
    font-optical-sizing: auto;
    text-decoration: none; /* to remove underlines at the hyperlinks */
}
li{
    display: inline-block; /*to make the list display horizontally*/
    list-style: none; /* to remove points/dots beside the hyperlinks */
}
li a:hover{
    background-color: #e8e8e8;
}
li a{
    margin-right: 25px;
    color: #232323;
    font-family: "Ruda", serif;
    font-size: 20px;
    font-optical-sizing: auto;
    text-decoration: none; /* to remove underlines at the hyperlinks */
    
}
.middle{
    background-color: black;
    height: 350px;
    width: 100%;
    position: absolute;
    top: auto;
}
.middle_text{
    font-family: "Anta", serif;
    font-size: 100px;
    color: white;
    margin-left: 80px;
}
/*ABOUT*/
.about{
    text-align: center;
    margin-top: 10em;
    font-family: "Ruda", serif;
    font-size: 25px;
    color: black;
}
/*BLOG*/
.blogbod{
    background-color: black;
    margin: 0em;
}
.headblog{
    margin-top: 100px;
    text-align: center;
    font-family: "Anton", serif;
    font-size: 80px;
    color: #ad011d;
}
.beludiv{
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}
.nikadiv{
    float: right;
    margin-top: 450px;
    margin-right: 50px;
}
/*FORM*/
.formdiv{
    align-content: center;
}
#logbutton{
    background-color: #232323;
    border: none;
    border-radius: 0;
}